.overflow-custom {
  overflow: hidden;
  overflow-x: scroll;
}

.addBook {
  position: fixed;
  bottom: 25px;
  right:25px;
}

.button-add {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  font-size: xx-large;
  font-weight: 700;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




